<ion-header>
  <ion-toolbar>
    <ion-title>パスワードを入力してください</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
    <ion-item>
      <ion-label color="primary">password :</ion-label>
      <ion-input name="password" type="password"></ion-input>    
    </ion-item>

    <!-- <ion-text color="danger">
      <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
        Password is required
      </p>
    </ion-text> -->
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button (click)="onLogin(loginForm)" type="submit" expand="block" routerLink="/display">Login</ion-button>
    </ion-col>
    <!-- <ion-col>
      <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
    </ion-col> -->
  </ion-row>
  
  </form>
</ion-content>
